<nav class="menu">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Produtos</a></li>
		<li><a href="#">Serviços</a></li>
		<li><a href="#">Contato</a></li>
	</ul>
	<div class="social-icons">
		<a href="#" class="btn-facebook"><i class="fab fa-facebook fa-lg"></i></a>
		<a href="#" class="btn-twitter"><i class="fab fa-twitter fa-lg"></i></a>
		<a href="#" class="btn-google"><i class="fab fa-google fa-lg"></i></a>
	</div>
</nav>