<nav class="menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/produtos">Produtos</a></li>
		<li><a href="/servicos">Serviços</a></li>
		<li><a href="/contato">Contato</a></li>
		<% if (isLogado) { %>
			<li class="usuario"><a href="/cliente">Painel do Usuário</a></li>
		<% } %>
	</ul>
	<div class="social-icons">
		<a href="#" class="btn-facebook"><i class="fab fa-facebook fa-lg"></i></a>
		<a href="#" class="btn-twitter"><i class="fab fa-twitter fa-lg"></i></a>
		<a href="#" class="btn-google"><i class="fab fa-google fa-lg"></i></a>
	</div>
</nav>