<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Um site simples de uma empresa fictícia de informática">
	<meta name="keywords" content="empresa,fictícia,informatica,empresa">
	<meta name="author" content="Hugo da Rocha">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<title>NodeShop - Loja de informática</title>
</head>
<body>
	<header class="cabecalho">
		<h1 class="logo"><a href="index.html" title="NodeShop - Loja de informática">NodeShop - Loja de informática</a></h1>
		<form method="POST">
			<input type="search" placeholder="Faça uma busca">
			<button><i class="fas fa-search fa-lg"></i></button>
		</form>
	</header>
	<nav class="menu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Produtos</a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
		<div class="social-icons">
			<a href="#" class="btn-facebook"><i class="fab fa-facebook fa-lg"></i></a>
			<a href="#" class="btn-twitter"><i class="fab fa-twitter fa-lg"></i></a>
			<a href="#" class="btn-google"><i class="fab fa-google fa-lg"></i></a>
		</div>
	</nav>
	<main class="principal">
		<article class="sobre">
			<h2>Sobre nós</h2>
			<img src="img/loja.jpg" alt="NodeShop">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatum labore incidunt, quaerat recusandae libero aliquid rem doloremque nobis quos repudiandae dignissimos necessitatibus perspiciatis ut! Assumenda expedita iste excepturi ullam impedit ex, voluptas officia sapiente, maiores, ipsam possimus deleniti nobis, eaque magnam velit? Nesciunt deserunt dolores voluptatum assumenda totam omnis voluptate cumque deleniti aliquam reprehenderit dolore, magnam dolor error! Recusandae quibusdam maxime, voluptates totam placeat perferendis porro. Est sint quisquam esse consequatur facere voluptas quaerat mollitia eum, et, cupiditate, incidunt, inventore optio hic accusamus blanditiis dolore exercitationem praesentium aliquam. Beatae dicta at corrupti mollitia doloribus dolorum velit explicabo cupiditate nam.</p><br>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore, est dicta fugiat. Doloremque in reprehenderit dolore facilis id qui. Non quas vero cumque voluptatibus vitae, nemo aliquam quasi tempore fugiat, iusto, quibusdam ipsum excepturi. Enim soluta asperiores quo incidunt nesciunt dignissimos qui dolore sapiente vitae sed porro iste dolorum cupiditate sunt, ducimus animi iusto inventore possimus optio nihil tempore ab harum debitis. Laborum, nobis officiis quibusdam. Autem quae saepe adipisci, iste, temporibus velit reprehenderit doloribus pariatur vitae dolor facere? Similique nemo quo sit quod, voluptate dignissimos porro dicta numquam laudantium vel, ut amet odio fuga aut asperiores assumenda at!</p>
		</article>
		<aside class="onde-estamos">
			<h2>Onde estamos</h2>
			<p>Av. Jucá Leão - Centro Comercial, Itabuna - BA</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3857.527281028673!2d-39.286704885157356!3d-14.795636189678495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x739aaf0cc0db597%3A0x9dfa10026b580036!2sAv.%20Juca%20Le%C3%A3o%2C%20Itabuna%20-%20BA!5e0!3m2!1spt-BR!2sbr!4v1631057029689!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy"></iframe>
			<h2>Contatos</h2>
			<ul>
				<li><i class="fas fa-phone fa-lg"></i> (00) 00000-0000</li>
				<li><i class="fab fa-whatsapp fa-lg"></i> (00) 00000-0000</li>
				<li><i class="far fa-envelope"></i> um_exemplo@gmail.com</li>
			</ul>
		</aside>
	</main>
	<section class="newsletter">
		<h3>Newsletter</h3>
		<p>Receba nossas promoções por email</p>
		<form method="POST">
			<input type="text" placeholder="Seu nome">
			<input type="email" placeholder="Seu email">
			<button>Cadastrar</button>
		</form>
	</section>
	<footer class="rodape">
		<p>&copy; NodeShop - Todos os direitos reservados.</p>
	</footer>
</body>
</html>