/* Tabelas */

table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

table tr th {
	font-weight: bold;
}

table tr {
	border-bottom: 2px solid #333;
}

table tr th, table tr td {
	padding: 10px 20px;
}

.radios .radios-radio input {
	float: left;
	width: 5%;
}

.table-opcoes {
	width: 100%;
	margin-bottom: 18px;
}

/* Formulário de cadastro de uma nova Opção de seleção (tipo e marca) */

.opcao-lista .opcao-item {
	display: inline;
	margin-right: 10px;
}

.opcao-lista .opcao-item input {
	margin-right: 2px;
}

.opcoes #categoria, .opcoes #marca, .opcoes #cargo {
	display: none;
}

/* Listagem de funcionários para cadastro de um novo serviço */
.lista-funcionarios p {
	text-transform: capitalize;
	text-indent: 0;
	line-height: 100%;
	width: 100%;
}

.lista-funcionarios label input {
	width: 5%;
}

/*
Listagem de funcionários na visualização das informações de um determinado
serviço.
*/
.li-funcionario {
	text-transform: capitalize;
	list-style: initial;
}

.admin {
	width: 100%;
	margin: 0 auto;
}

.admin .admin-item {
	background-color: #13c7ae;
	float: left;
	height: 100px;
	width: 20%;
	margin-right: 10px;

	transition-delay: 0.1s;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.admin .admin-item:last-child {
	margin-right: 0;
}

.admin .admin-item:hover {
	text-shadow: 0 0 1px #111;
}

.admin .admin-item a {
	float: left;
	text-align: center;
	color: #111;
	width: 100%;
	height: 100%;
}

.admin .admin-item a i {
	margin-top: 10px;
	font-size: 30pt;
	width: 100%;
}