<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<main class="principal">
	<h2>Produtos</h2>
	<hr>
	<a href="/admin/produto/novo" class="btn-add">Novo produto</a>
</main>
<%- include('../../partials/footer.ejs') %>