<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<main class="principal">
	<h2>Cadastrar produto</h2>
	<hr>
	<form action="salvar" method="post">
		<label>Categoria:</label>
		<select name="sltCategoria">
			<option value="0">Eletrodoméstico</option>
			<option value="1">Eletrônico</option>
		</select>

		<label>Tipo:</label>
		<select name="sltTipo">
			<optgroup label="Laptops">
				<option value="0">Notebook</option>
				<option value="1">Macbook</option>
			</optgroup>
			<optgroup label="Celulares">
				<option value="2">Smartphone</option>
				<option value="3">Iphone</option>
			</optgroup>
			<optgroup label="Desktop">
				<option value="4">Computador</option>
				<option value="5">IMac</option>
			</optgroup>
			<optgroup label="Acessórios">
				<option value="6">Mouse</option>
				<option value="7">Teclado</option>
				<option value="8">Mouse & Teclado</option>
				<option value="9">Caixa de Som</option>
			</optgroup>
			<option value="6">Televisor</option>
			<option value="7">Monitor</option>
		</select>

		<label>Marca:</label>
		<select name="sltMarca">
			<option value="0">Dell</option>
			<option value="1">Apple</option>
			<option value="2">Samsung</option>
		</select>

		<label>Modelo/Produto:</label>
		<input type="text" name="iptModelo">

		<label>Ano de fabricação:</label>
		<input type="number" name="iptFabricacao">

		<label>Garantia da loja (anos):</label>
		<input type="number" name="iptGarantiaLoja">

		<label>Garantia da fabricante (anos):</label>
		<input type="number" name="iptGarantiaFabricante">

		<label>Descrição:</label>
		<textarea name="textDescricao"cols="30" rows="10" placeholder="Descrição do produto"></textarea>

		<label>Estoque:</label>
		<input type="number" name="iptEstoque">

		<label>Preço</label>
		<input type="text" name="iptPreco">

		<button type="submit" class="btn-add">Cadastrar</button>
	</form>
</main>
<%- include('../../partials/footer.ejs') %>