<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<main class="principal">
	<h2>Cadastrar serviço</h2>
	<hr>
	<form action="salvar" method="post">
		<label>Serviço</label>
		<input type="text" name="iptServico" placeholder="Nome do serviço">
		<label>Responsáveis</label>
		<input type="text" name="iptResponsaveis" placeholder="Primeiro Nome, Segundo Nome, ...">
		<label>Descrição</label>
		<textarea name="textDescricao" cols="30" rows="10" placeholder="Descrição do serviço"></textarea>
		<button type="submit" class="btn-editar">Atualizar</button>
	</form>
</main>
<%- include('../../partials/footer.ejs') %>