<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Um site simples de uma empresa fictícia de informática">
	<meta name="keywords" content="empresa,fictícia,informatica,empresa">
	<meta name="author" content="Hugo da Rocha">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/styleAdmin.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<title>NodeShop - Loja de informática</title>
</head>

<body>
	<header class="cabecalho">
		<h1 class="logo"><a href="/admin" title="NodeShop - Loja de informática">NodeShop - Loja de informática</a></h1>
	</header>
	