<nav class="menu">
	<ul>
		<li><a href="/admin/produtos">Produtos</a></li>
		<li><a href="/admin/servicos">Serviços</a></li>
		<li><a href="/admin/funcionarios">Funcionários</a></li>
		<li><a href="/admin/clientes">Clientes</a></li>
	</ul>
</nav>